<%- include ('./partials/header') %>


<div id="landing-header">
  <h1>Welcome to KostKita !</h1>
  <a href="/kost" class="btn btn-lg btn-pink">Get Started</a>
</div>

<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

