<%- include ('./partials/header')  %>


<div class="container container-form">
    <div class="info">
        <h2>Hi There,</h2>
        <h2>Please Login First</h2>
    </div>

        <form action="/login" method="POST" novalidate class="validated-form">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="username" name="username" required>
            </div>

            <div class="form-group">
                <input class="form-control" type="password" placeholder="password" name="password" required>
            </div>

            <div class="form-group">
                <button class="btn btn-lg btn-pink btn-block">Submit!</button>
            </div>
            <a href="/campground">Go Back</a>
     </form>
       

    
</div>



<%- include ('./partials/footer')  %>~