<%- include ('./partials/header')  %>



<div class="container container-form">

    <div class="info">
        <h2>Sign Up Is All You Need</h2>
    </div>
  
 
  
        <form action="/register" novalidate class="validated-form" method="POST" >
            <div class="form-group">
                <input class="form-control"  type="text" placeholder="username" name="username" >
            </div>
      
            <div class="form-group">
                <input class="form-control" type="password" placeholder="password" name="password" >
            </div>

            <div class="form-group">
                <input class="form-control" type="email" placeholder="@gmail.com" name="email" required>
            </div>

            <div class="form-group">
                <button class="btn btn-lg btn-pink btn-block">Submit!</button>
            </div>
            <a href="/campground">Go Back</a>
        </form>
        
       


</div>




<%- include ('./partials/footer')  %>